## Deliverable 2. Create a Customer Travel Destinations Map.

In [94]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
import sys
sys.path.append("..")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [80]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descriptions
0,0,Thinadhoo,MV,0.5333,72.9333,82.87,67,6,11.43,clear sky
1,1,Lebu,CL,-37.6167,-73.6500,59.31,72,0,13.40,clear sky
2,2,Nanortalik,GL,60.1432,-45.2371,28.24,76,41,4.03,scattered clouds
3,3,Busselton,AU,-33.6500,115.3333,66.40,80,100,7.14,light rain
4,4,Yellowknife,CA,62.4560,-114.3525,-4.45,40,0,0.00,clear sky
5,5,Yulara,AU,-25.2406,130.9889,69.64,37,0,9.22,clear sky
6,6,Noumea,NC,-22.2763,166.4572,81.00,99,96,9.75,overcast clouds
7,7,Dovers,VC,12.8833,-61.1833,80.19,76,9,20.78,clear sky
8,8,Victoria,HK,22.2855,114.1577,78.94,91,58,10.00,broken clouds
9,9,Vaini,TO,-21.2000,-175.2000,80.76,74,20,8.05,few clouds
10,10,Albany,US,42.6001,-73.9662,52.05,65,98,11.25,overcast clouds
11,11,Boromlya,UA,50.6184,34.9704,38.41,92,3,1.52,clear sky
12,12,Hobart,AU,-42.8794,147.3294,53.06,93,20,6.91,few clouds
13,13,Hermanus,ZA,-34.4187,19.2345,59.81,71,77,15.48,broken clouds
14,14,Sobolevo,RU,54.4299,31.8996,35.19,87,21,9.35,few clouds
15,15,Mareeba,AU,-17.0000,145.4333,72.32,93,100,1.48,light rain
16,16,Sambava,MG,-14.2667,50.1667,78.60,87,90,5.70,light rain
17,17,Jamestown,US,42.0970,-79.2353,39.52,69,100,9.22,mist
18,18,Mataura,NZ,-46.1927,168.8643,55.31,91,92,2.75,overcast clouds
19,19,Sapa,PH,5.1544,120.3241,80.24,81,85,2.06,overcast clouds

In [88]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
user_max_temp = float(input("What is your ideal maximum temperature, in degrees Fareneheit, for vacation? "))
user_min_temp = float(input("What is your ideal minimum temperature, in degrees Fareneheit, for vacation? "))

What is your ideal maximum temperature, in degrees Fareneheit, for vacation? 85
What is your ideal minimum temperature, in degrees Fareneheit, for vacation? 65

In [89]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
user_preferred_city_df = city_data_df.loc[(city_data_df["Max Temp"]>=user_min_temp)&(city_data_df["Max Temp"]<=user_max_temp)]
user_preferred_city_df.head(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descriptions
0,0,Thinadhoo,MV,0.5333,72.9333,82.87,67,6,11.43,clear sky
3,3,Busselton,AU,-33.6500,115.3333,66.40,80,100,7.14,light rain
5,5,Yulara,AU,-25.2406,130.9889,69.64,37,0,9.22,clear sky
6,6,Noumea,NC,-22.2763,166.4572,81.00,99,96,9.75,overcast clouds
7,7,Dovers,VC,12.8833,-61.1833,80.19,76,9,20.78,clear sky
8,8,Victoria,HK,22.2855,114.1577,78.94,91,58,10.00,broken clouds
9,9,Vaini,TO,-21.2000,-175.2000,80.76,74,20,8.05,few clouds
15,15,Mareeba,AU,-17.0000,145.4333,72.32,93,100,1.48,light rain
16,16,Sambava,MG,-14.2667,50.1667,78.60,87,90,5.70,light rain
19,19,Sapa,PH,5.1544,120.3241,80.24,81,85,2.06,overcast clouds
21,21,Hilo,US,19.7297,-155.0900,80.33,62,40,10.36,scattered clouds
22,22,Faanui,PF,-16.4833,-151.7500,81.86,72,76,14.36,broken clouds
23,23,Butaritari,KI,3.0707,172.7902,80.10,78,29,11.74,scattered clouds
25,25,Atuona,PF,-9.8000,-139.0333,79.41,78,55,19.89,broken clouds
29,29,Warri,NG,5.5167,5.7500,80.62,85,99,8.99,light rain
33,33,Mahebourg,MU,-20.4081,57.7000,79.09,89,40,2.30,scattered clouds
34,34,Pisco,PE,-13.7000,-76.2167,76.01,64,0,6.91,clear sky
37,37,Kudahuvadhoo,MV,2.6708,72.8944,81.61,71,5,5.64,clear sky
38,38,Fortuna,US,40.5982,-124.1573,66.92,64,20,5.75,few clouds
39,39,Petauke,ZM,-14.2426,31.3253,66.78,93,88,2.93,overcast clouds

In [91]:
# 4a. Determine if there are any empty rows.
user_preferred_city_df.count()

City_ID                 241
City                    241
Country                 240
Lat                     241
Lng                     241
Max Temp                241
Humidity                241
Cloudiness              241
Wind Speed              241
Current Descriptions    241
dtype: int64

In [92]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = user_preferred_city_df.dropna()
clean_df.count()

City_ID                 240
City                    240
Country                 240
Lat                     240
Lng                     240
Max Temp                240
Humidity                240
Cloudiness              240
Wind Speed              240
Current Descriptions    240
dtype: int64

In [93]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Descriptions", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(20)

,City,Country,Max Temp,Current Descriptions,Lat,Lng,Hotel Name
0,Thinadhoo,MV,82.87,clear sky,0.5333,72.9333,
3,Busselton,AU,66.40,light rain,-33.6500,115.3333,
5,Yulara,AU,69.64,clear sky,-25.2406,130.9889,
6,Noumea,NC,81.00,overcast clouds,-22.2763,166.4572,
7,Dovers,VC,80.19,clear sky,12.8833,-61.1833,
8,Victoria,HK,78.94,broken clouds,22.2855,114.1577,
9,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,
15,Mareeba,AU,72.32,light rain,-17.0000,145.4333,
16,Sambava,MG,78.60,light rain,-14.2667,50.1667,
19,Sapa,PH,80.24,overcast clouds,5.1544,120.3241,
21,Hilo,US,80.33,scattered clouds,19.7297,-155.0900,
22,Faanui,PF,81.86,broken clouds,-16.4833,-151.7500,
23,Butaritari,KI,80.10,scattered clouds,3.0707,172.7902,
25,Atuona,PF,79.41,broken clouds,-9.8000,-139.0333,
29,Warri,NG,80.62,light rain,5.5167,5.7500,
33,Mahebourg,MU,79.09,scattered clouds,-20.4081,57.7000,
34,Pisco,PE,76.01,clear sky,-13.7000,-76.2167,
37,Kudahuvadhoo,MV,81.61,clear sky,2.6708,72.8944,
38,Fortuna,US,66.92,few clouds,40.5982,-124.1573,
39,Petauke,ZM,66.78,overcast clouds,-14.2426,31.3253,

In [95]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = float(row["Lat"])
    lng = float(row["Lng"]) 
    cty = row["City"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    params["location"] = f"{lat},{lng}"
    hotel_search = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_search["results"][0]["name"]
    except (IndexError):
        print(f"Search: {index} | hotel in {cty} not found.")
        hotel_df.loc[index, "Hotel Name"] = np.nan
        pass

Search: 0 | hotel in Thinadhoo not found.
Search: 19 | hotel in Sapa not found.
Search: 55 | hotel in Adrar not found.
Search: 116 | hotel in Balaipungut not found.
Search: 120 | hotel in Marzuq not found.
Search: 130 | hotel in Panguna not found.
Search: 146 | hotel in Poum not found.
Search: 177 | hotel in Avera not found.
Search: 205 | hotel in Merauke not found.
Search: 213 | hotel in Wagar not found.
Search: 214 | hotel in Taoudenni not found.
Search: 218 | hotel in Mayahi not found.
Search: 255 | hotel in Tombouctou not found.
Search: 261 | hotel in Amapa not found.
Search: 266 | hotel in Jutai not found.
Search: 294 | hotel in Lusambo not found.
Search: 363 | hotel in Bowmore not found.
Search: 377 | hotel in Madimba not found.
Search: 387 | hotel in Sibut not found.
Search: 476 | hotel in Poya not found.
Search: 516 | hotel in Ati not found.
Search: 528 | hotel in Wattegama not found.
Search: 545 | hotel in Farah not found.
Search: 549 | hotel in Beloha not found.
Search: 558 | hotel in Ikongo not found.
Search: 563 | hotel in Kaniama not found.

In [101]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
clean_hotel_df = hotel_df.dropna()
clean_hotel_df = clean_hotel_df.reset_index(drop=True)
clean_hotel_df

,City,Country,Max Temp,Current Descriptions,Lat,Lng,Hotel Name
0,Busselton,AU,66.40,light rain,-33.6500,115.3333,Observatory Guest House
1,Yulara,AU,69.64,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
2,Noumea,NC,81.00,overcast clouds,-22.2763,166.4572,Hôtel Le Lagon
3,Dovers,VC,80.19,clear sky,12.8833,-61.1833,Ocean Breeze
4,Victoria,HK,78.94,broken clouds,22.2855,114.1577,Mini Hotel Central
...,...,...,...,...,...,...,...
209,Cururupu,BR,75.47,light rain,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
210,Parati,BR,78.91,broken clouds,-23.2178,-44.7131,Che Lagarto Paraty
211,Trenggalek,ID,75.00,broken clouds,-8.0500,111.7167,OYO 2966 Hotel Atriaz
212,Nyimba,ZM,69.13,few clouds,-14.5566,30.8149,Dali Dali Lodge
213,Long,TH,83.19,clear sky,18.0761,99.8326,Nopphakoe Homestay

In [102]:
# 8a. Create the output File (CSV)
output_data_file = ("WeatherPy_vacation.csv")

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [103]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Descriptions} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [104]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))